<!DOCTYPE html>
<html>
<head>
    <% include partials/style.ejs %>
</head>
<body>

<% include partials/main_nav %>

<div class="container">
<br><br>
<% if (student.classes.length == 0) { %>
    <div class="row">
        <div class="eight columns">
            <h3>You haven't entered your schedule information yet.</h3>
            <h3>You can do that <a href="/update_profile?token=<%= token %>">here</a>.</h3>
        </div>
    </div>
<% } else { 
        if (theyHaveFriends) { %>
            <div class="row">
                <div class="twelve columns">
                    <h4>Friends in <%= student.name %>'s classes:</h4>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <table class="u-full-width">
                        <thead>
                            <th>Period</th>
                            <th>Room #</th>
                            <th>Friends</th>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < student.classes.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= student.classes[i] %></td>
                                <td><%= friends[i].join(', '); %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <div class="five columns">
                    <h4>No friends found ( yet ).</h4>
                    <p class="justify">If you want to see your friends' names appear here, get them to sign up on this website! You can spread the word about this website by sharing the link below:</p>
                    <input type="text" id="shareURL" readonly>
                </div>
            </div>
        <% }
} %>
</div>
<script>
    document.getElementById('shareURL').value = document.location.origin;
</script>
</body>
</html>