<!DOCTYPE html>
<html>
<head>
    <% include partials/style.ejs %>
</head>
<body>

<% include partials/main_nav %>

<div class="container">
<br><br>
<% if (student.classes.length == 0) { %>
    <div class="row">
        <div class="eight columns">
            <h3>You haven't entered your schedule information yet.</h3>
            <h3>You can do that <a href="/update_profile?token=<%= token %>">here</a>.</h3>
        </div>
    </div>
<% } else { %>
    <div class="row">
        <div class="four columns">
            <h4>Schedule for <%= student.name %></h4>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <table class="u-full-width">
                <thead>
                    <th>Period</th>
                    <th>Room #</th>
                </thead>
                <tbody>
                    <% for (var i = 0; i < student.classes.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= student.classes[i] %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <h4>Click <a href="/friends?token=<%= token %>">here</a> to see who you have in your classes!</h4>
        </div>
    </div>
<% } %>

</div>

</body>
</html>